{% extends "dashboard/base.html" %} {% load i18n %} {% load account socialaccount
%} {% block head_title %}{% trans "Sign In" %}{% endblock %} {% block content %}

{% load widget_tweaks %}

<section class="columns is-centered">
    <div class="column is-half is-narrow is-offset-one-quarter">
        <div class="box" style="width: 350px;">
            <h2 class="title is-4">{% trans "Log In" %}</h2>
            <form action="{% url 'account_login' %}" method="POST" class="login">
              {% csrf_token %}
              {{ form.non_field_errors | safe }}

              <div class="field block">
                {{ form.login.errors | safe }}
                <div class="control has-icons-left">
                  {% render_field form.login placeholder="Email" id="id_login" name="login" type="email" autocomplete="email" required=True maxlength="320" class="input " %}
                  <span class="icon is-medium is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field block">
                {{ form.password.errors | safe }}
                <div class="control has-icons-left">
                  {% render_field form.password id="id_password" name="password" placeholder="Password" type="password" autocomplete="current-password" required="True" class="input " %}
                  <span class="icon is-medium is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field block">
                <label for="" class="checkbox">
                  <input type="checkbox" name="remember" id="id_remember" />
                  Remember me
                </label>
              </div>

              {% if redirect_field_value %}
              <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
              />
              {% endif %}

              <div class="field block">
                <button class="button is-success primaryAction block" type="submit">Login</button><br>
                <small class="block">
                  <a class="secondaryAction has-text-dark" href="{% url 'account_reset_password' %}">
                    {% trans "Forgot Password?" %}
                  </a>
                </small>

                <br />
                <a class="block has-text-dark" href="{{ signup_url }}">
                  <small>Don't have an account?</small>
                  <span class="has-text-weight-bold">Sign Up</span>
                </a>
              </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
