{% extends "dashboard/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% load widget_tweaks %}

<section class="columns is-centered">
    <div class="column is-half is-narrow is-offset-one-quarter">
        <div class="box" style="width: 350px;">
            <h2 class="title is-4">{% trans "Sign Up" %}</h2>
            <form action="{% url 'account_signup' %}" method="POST" class="signup" id="signup_form">
              {% csrf_token %}
              {{ form.non_field_errors | safe }}

              <div class="field block">
                {{ form.email.errors | safe }}
                <div class="control has-icons-left">
                  {% render_field form.email placeholder="Email" id="id_email" name="email" type="email" autocomplete="email" required=True maxlength="320" class="input " onblur="copyToUsername();" %}
                  <span class="icon is-medium is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>

              <input type="hidden" name="username" id="id_username" value="" />

              <div class="field block">
                {{ form.password1.errors | safe }}
                <div class="control has-icons-left">
                  {% render_field form.password1 id="id_password1" name="password1" placeholder="Password" type="password" autocomplete="current-password" required="True" class="input " %}
                  <span class="icon is-medium is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field block">
                {{ form.password2.errors | safe }}
                <div class="control has-icons-left">
                  {% render_field form.password2 id="id_password2" name="password2" placeholder="Password Again" type="password" autocomplete="current-password" required="True" class="input " %}
                  <span class="icon is-medium is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              {% if redirect_field_value %}
              <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
              />
              {% endif %}
              <button class="button is-success primaryAction block" type="submit">Sign Up</button>
            </form>

            <div class="field block">
              <a class="block has-text-dark" href="{{ login_url }}">
                <small>Already have an account? Then please</small>
                <span class="has-text-weight-bold">Sign In</span>
              </a>
            </div>
        </div>
    </div>
</section>

<script>
  function copyToUsername(){
    document.getElementById("id_username").value = document.getElementById("id_email").value;
  }
</script>

{% endblock %}
